<html>
    <head>
        <meta charset="utf-8"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script> <!--to make screenshots of a certain element (keeping CSS features)-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='test.js') }}"></script>
        <title>Result</title>
    </head>
    <body>
        <div id="navbar" style="background-color: rgb(224, 239, 255);height:5%;">
            <a href="">
                <img src="https://icon-library.com/images/website-home-icon/website-home-icon-16.jpg" style="max-height: 100%;">
            </a>
        </div>
        <div id="crossword_box" style="text-align: center; border-width: 2px; border-color:black; border-style: solid; background-color: rgb(253, 213, 161);">

                <!--first choice-->
                <table id="result1" style="margin-left: auto;margin-right: auto;border-collapse: collapse;table-layout: fixed;width: 50%;background-color: yellowgreen;">
                    {% for i in range(edges["top"], edges["bottom"]+1) %}
                        <tr>
                        {% for j in range(edges["left"], edges["right"]+1) %}
                            {% if crossword[i][j] != '' %}
                                {% if (i,j) in wordplacements %}
                                    <td style="border: black solid 1px; border-collapse: collapse; background-color: white; text-align: center;position:relative;"><span style="position:absolute;font-size:50%;top:0px;left:2px;">{{wordplacements[(i,j)]}}</span>{{crossword[i][j]}}</td>
                                {% else %}    
                                    <td style="border: black solid 1px; border-collapse: collapse; background-color: white; text-align: center;">{{crossword[i][j]}}</td>
                                {% endif %}                        
                            {% else %}
                                <td>{{crossword[i][j]}}</td>
                            {% endif %}
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </table>

                <!--second choice-->
                <table id="result2" style="margin-left: auto;margin-right: auto;border-collapse: collapse;table-layout: fixed;width: 50%;background-color: turquoise;">
                    {% for i in range(edges["top"], edges["bottom"]+1) %}
                        <tr>
                        {% for j in range(edges["left"], edges["right"]+1) %}
                            {% if crossword[i][j] != '' %}
                                {% if (i,j) in wordplacements %}
                                    <td style="border: black solid 1px; border-collapse: collapse; background-color: white; text-align: center;position:relative;"><span style="position:absolute;font-size:50%;top:0px;left:2px;">{{wordplacements[(i,j)]}}</span>&nbsp</td>
                                {% else %}    
                                    <td style="border: black solid 1px; border-collapse: collapse; background-color: white; text-align: center;">&nbsp</td>
                                {% endif %}                        
                            {% else %}
                                <td>{{crossword[i][j]}}</td>
                            {% endif %}
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
                <button id='export'>PNG</button>
        </div>
        <script language="javascript">
            $('#export').on('click', function() {
                html2canvas($('#result2'), {dpi: 144, //dpi sembra una presa per il culo, stessa cosa per scale (parametro intero). width e height ti permettono di fissare la dimensione dell'immagine ma anche lì ti aspetta una brutta sorpresa
                    onrendered: function(canvas) {                                      

                        var saveAs = function(uri, filename) {
                            var link = document.createElement('a');
                            if (typeof link.download === 'string') {
                                document.body.appendChild(link);
                                link.download = filename;
                                link.href = uri;
                                link.click();
                                document.body.removeChild(link); // remove the link when done
                            } else {
                                location.replace(uri);
                            }
                        };

                        var img = canvas.toDataURL("image/png"),
                            uri = img.replace(/^data:image\/[^;]/, 'data:application/octet-stream');

                        saveAs(uri, 'tableExport.png');
                    }
                }); 
            });
        </script>
    </body>
</html>