<html>
    <head>
        <meta charset="utf-8"/>
        <title>Hello World</title>
    </head>
    <body>
        <div id="submit_box" >
            <form action="#" method="post" style="text-align: center; border-width: 2px; border-color:greenyellow; border-style: solid; background-color: violet;">
                <p>Inserisci le parole per il Cruciverba:</p>
                <textarea id="words" name="words" rows="4" cols="50"></textarea>
                <p><input type="submit" value="submit"/></p>
            </form>
        </div>
    </body>
</html>