<html>
    <head>
        <meta charset="utf-8"/>
        <title>Homepage</title>
    </head>
    <body>
        <div id="navbar" style="background-color: rgb(224, 239, 255);height:5%;">
            <a href="/">
                <img src="https://icon-library.com/images/website-home-icon/website-home-icon-16.jpg" style="max-height: 100%;">
            </a>
        </div>
        <div id="submit_box" >
            <form action="#" method="post" style="text-align: center; border-width: 2px; border-color:rgb(0, 0, 0); border-style: solid; background-color: #8ae6ffd9;">
                <p>Inserisci le parole per il Cruciverba:</p>
                <em style="font-size: smaller;">Per una corretta formattazione inserire una parola per riga..</em><br><br>
                <textarea id="words" name="words" rows="4" cols="50"></textarea>
                <br><br>
                <form action="/upload-text" method="POST">
                    <button type="submit">Submit text</button>
                </form>
            </form>                
            <form action="/upload-image" method="POST" enctype="multipart/form-data" style="text-align: center; border-width: 2px; border-color:rgb(0, 0, 0); border-style: solid; background-color: #8ae6ffd9;">
                <div class="form-group">
                    <label>Upload Word File</label>
                    <br><br>
                    <div class="custom-file">
                        <input type="file" name="image" id="image">
                    </div>
                </div>
                <br><br>
                <button type="submit">Upload</button>
            </form>
        </div>
    </body>
</html>